# URL del Gateway de la Saga Coreografiada (Yuly) — services/gateway-coreografia
VITE_GATEWAY_COREOGRAFIA_URL=http://localhost:8100

# URL del Gateway/API que expone la Saga Orquestada con Prefect (Tefi)
VITE_GATEWAY_ORQUESTADA_URL=http://localhost:8200
